@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    font-family: 'Roboto', sans-serif;

}

.main {

    margin: 0 auto;

    background: #fff;
    background-position: center;
    background-size: cover;
    height: 200vh;


}

/* || Nav-bar */
.navbar {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
   

}

.navbar__main {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 4.5rem;
    max-width: 1440px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.icon  {
    color: #000;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2rem;
    box-sizing: border-box;
    width: 190px;
    height: 45px;
    text-align: center;
    margin-left: 1rem;
    text-decoration: none;
    
    

}

span {
    color: #000;
}

.button__free-trial {
    width: 144px;
    height: 56px;
    background: #1D2130;
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.button__free-trial a{
    color: #fff;
    text-decoration: none;
}

.primary-nav {

    display: flex;
    padding: 1rem;
    height: 4em;
    justify-content: space-evenly;
    gap: 2rem;
    list-style-type: none;
}

.primary-nav a:any-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}



li:hover,
li:focus-visible {

    transform: scale(120%);

}

a:active {
    color: rgb(204, 14, 14);
}

/* || header */
.header {
    position: absolute;
    width: 1024px;
    height: 1060.57px;
    left: 208px;
    top: 167px;
    position: absolute;
    width: 524px;
    height: 496px;
    right: 566px;
    top: 313px;
    background: radial-gradient(483.9% 2719.65% at -49.5% -250%, #D798E1 17.55%, #9BFFA5 27.56%, #AED3FF 49.89%, #C9D4EF 56.53%, #CACFFA 65.69%);
    filter: blur(200px);
}