@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    font-family: 'Roboto', sans-serif;

}

/* || Nav-bar */
.navbar {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
   

}

.navbar__main {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 4.5rem;
    max-width: 1440px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.icon  {
    color: #000;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2rem;
    box-sizing: border-box;
    width: 190px;
    height: 45px;
    text-align: center;
    margin-left: 1rem;
    text-decoration: none;
    
    

}

span {
    color: #000;
}

.button__free-trial {
    width: 144px;
    height: 56px;
    background: #1D2130;
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.button__free-trial a{
    color: #fff;
    text-decoration: none;
}

.primary-nav {

    display: flex;
    padding: 1rem;
    height: 4em;
    justify-content: space-evenly;
    gap: 2rem;
    list-style-type: none;
}

.primary-nav a:any-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}



li:hover,
li:focus-visible {

    transform: scale(120%);

}

a:active {
    color: rgb(204, 14, 14);
}

/* || header */
.padding__global{
     padding-right: 5rem;
        padding-left: 5rem;
}
.container__medium{
    margin-right: auto !important;
margin-left: auto !important;
width: 100%;
max-width: 64rem;
padding-top: 5rem;
}
.background-color-radial{
    position: absolute;
    left: 25%;
    top: 29%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    -webkit-filter: blur(120px);
    filter: blur(120px);
    background-image: radial-gradient(circle farthest-corner at -80% 50%, #d798e1 19%, #9bffa5 41%, #aed3ff 71%, #c9d4ef 77%, #cacffa 85%);
}